*{
    background-color: #24242C;
    color: white;
    font-family: 'Open Sans', Helvetica, sans-serif;
}

body{
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h1{
    text-align: center;
    margin: 20px 0px;
    width: 100%;
}

#email-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 780px;
    padding: 20px 0;

    border: 3px dashed lightgray;
    border-radius: 20px;
}

.email{
    width: 70%;
    text-align: center;
    margin: 10px 0px;
    padding: 10px;
    cursor: pointer;

    border-radius: 20px;
    background-color: #2D2D34;
}
